/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
.discussion__container {
  list-style-type: none;
  width: 540px;
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.discussion__avatar--image {
  width: 48px;
  height: 48px;
  border-radius: 70%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.discussion__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.discussion__information {
  text-align: right;
}
.discussion__answered {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: xx-large;
}
.discussion__avatar--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
}
/* .scussion__avatar--wrapper > img {
  border-radius: 50%;
  width: 48px;
} */
